version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: gdash-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: gdash
      RABBITMQ_DEFAULT_PASS: gdash
